<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my 블로그</title>
</head>
<body>
    <h1>블로그 작성</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <select name="category">
            <option value="travel">여행</option>
            <option value="food">맛집</option>
        </select>
        <input type="text" name="title" placeholder="제목">
        <textarea name="content" placeholder="내용"></textarea>
        <input type="file" name="upload_img" accept="image/*">
        <button type="submit">작성완료</button>
    </form>
</body>
</html>