<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.author }} 블로그</title>
</head>
<body>
    <div>
        <h1>{{ post.title }}</h1>
        <p>조회수 {{ post.view_count }}</p>
        <p>{{ post.content|linebreaks }}</p>
    </div>

    {% if post.upload_img %}
        <div class="post-image">
            <img src="{{ post.upload_img.url }}" alt="게시글 이미지" class="img-fluid">
        </div>
    {% endif %}

    
    {% if request.user.is_authenticated and request.user == post.author %}
    <div>
        <!-- 수정 버튼 -->
        <a href="{% url 'post_edit' post.pk %}">수정하기</a>

        <!-- 삭제 버튼 -->
        <form action="{% url 'post_delete' post.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">삭제하기</button>
        </form>
    </div>
    {% endif %}
</body>
</html>