<!-- 에러 메세지 테스트 -->
    {% if messages %}
        <div id="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}


    <div>
        <h1>블로그</h1>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <p>{{ user }}님 안녕하세요</p>

                {% if user.is_authenticated %}
                    <div class="profile-image">
                        <img src="{{ user.profile.profile_image_url }}" alt="프로필 이미지" class="img-fluid">
                    </div>
                {% endif %}


                <button type="submit">로그아웃</button>
            </form>
        {% else %}
            <a href="/accounts/login/">로그인</a>
            <a href="/accounts/register/">회원가입</a>
        {% endif %}
    </div>

    <hr />